.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  font-size: 0.9rem;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color-2);
}
