.lista-tareas {
  max-height: 400px;
  overflow-y: auto;
}

.tarea {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid var(--border-1);
  transition: all 0.3s;
  animation: slideIn 0.3s ease-out;
  color: var(--task-color);
}

.tarea:hover {
  background: var(--bg-2);
}

.tarea.completed {
  background: var(--bg-4);
  text-decoration: line-through;
  opacity: 0.7;
}

.texto-tarea {
  flex: 1;
  font-size: 16px;
}

.tarea.removing {
  animation: slideOut 0.3s ease-in forwards;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}
